# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json
data/


# Editor
.idea
*.swp

# Other
.DS_Store
wandb

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

playground/data/
images/gradio*
tmp*
dataset
*chtc*
*debug*
llava/model/language_model/mpt_old


*.zip
*.egg-info
flash_attn-2.6.3+cu118torch2.1cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
hf_download.bash
ViP-Bench
ViP-Bench_Evaluator

